# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4

[*.{yml,yaml,toml,json,md}]
indent_style = space
indent_size = 2

[*.{swift,m,h}]
indent_style = space
indent_size = 4

[*.{sh,bash}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[*.bat]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false
